/* {
    border: solid 2px red;
} */

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.pixel-empty {
    height: 25px;
    width: 25px;

    border: solid 2px black;
}

